################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/__pycache__/upload_file.cpython-37.pyc
/.vs
